<table class='table'>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">NPI</th>
    <th scope="col">ID</th>
    <th scope="col">Address</th>
    <th scope="col">Phone Number</th>
    <th scope="col">Move</th>
  </tr>
  <tbody id='#providers'>
    <% @providers.each do |provider| %>
      <tr data-toggle='collapse' data-target=<%= "collapse_#{provider.id}" %>>
        <td><%= provider.name %></td>
        <td><%= provider.npi %></td>
        <td><%= provider.id %></td>
        <td>
          <%= provider.addresses.first.address_1 %>
          <%= provider.addresses.first.address_2 %>
        </td>
        <td><%= provider.addresses.first.telephone_number %></td>
        <td><p>&#8645;</p></td>
      </tr>
    <% end %>
  </tbody>
</table>
